.container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.header {
    background: tomato;
    height: 120px;
    flex-basis: 100%;
    order: 1;
}

.text {
    background-color: skyblue;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    order: 3;
    flex-basis: 60%;
}

.aside-left {
    background: green;
    order: 2;
    flex-basis: 20%;
}

.aside-right {
    background-color: pink;
    order: 4;
    flex-basis: 20%;
}

.footer {
    background-color: blueviolet;
    height: 120px;
    order: 5;
    flex-basis: 100%;
}

@media all and (max-width: 992px) {
    .text {
        order:2;
        flex-basis: 80%;
    }
    .aside-left {
        order: 4;
        flex-basis: 100%;
        height: 200px;
    }
    .aside-right {
        order: 3;
    }
 
}

@media all and (max-width: 768px) {
    .text {
        order: 2;
        flex-basis: 100%;
    }

    .aside-left {
        order: 3;
        flex-basis: 100%;
    }

    .aside-right {
        flex-basis: 100%;
        height: 200px;
    }

}